@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Indie+Flower&family=Playball&display=swap");

.container {
  max-width: 80%;
  background-image: url(https://www.halamish.com/products/7380/1359H.-b.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  border-radius: 100px;
  text-align: center;
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.2),
    20px 20px 20px 20px rgba(0, 0, 0, 0.19);
}

.h1 {
    text-shadow: 3px 3px 5px grey;
    font-size: 70px;
    color: black;
    margin: auto;
    padding-top: 50px;
    font-family: "Fredericka the Great", cursive;
    font-weight: 800;
  }
  